{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-6 fade-in">
        <img src="{{ url_for('static', filename='images/profile.jpg') }}" class="img-fluid rounded-circle" alt="Фото профиля">
    </div>
    <div class="col-md-6 fade-in">
        <h2>Обо мне</h2>
        <p>Привет, странник! Я — Бармен Боб, легендарный хозяин таверны «Бесконечный Кубок» в самом сердце Калдорана. За моей стойкой побывали орки, маги, драконы и даже парочка разъярённых пиратов.
Краткая биография
Опыт : 15 лет за стойкой, из них 10 — в Hearthstone.
Специализация : Мастер магических коктейлей 
Хобби : Обучение новичков тонкостям битвы, коллекционирование редких карт, а также организация турниров</p>
    </div>
</div>
{% endblock %}