{% extends "base.html" %}

{% block content %}
<h2 class="fade-in">Мои проекты</h2>
<div class="row">
    <div class="col-md-4 fade-in">
        <img src="{{ url_for('static', filename='images/project1.jpg') }}" class="img-fluid" alt="Проект 1">
        <p>Mercenaries (Наемники)
Тактическая RPG-игра внутри Hearthstone. Игрок собирает отряд из наемников (персонажей из вселенной Blizzard) и сражается в пошаговых боях. Можно играть как против AI, так и в PvP. Каждый наемник имеет уникальные способности, а бои требуют продуманной стратегии и прокачки персонажей.</p>
    </div>
    <div class="col-md-4 fade-in">
        <img src="{{ url_for('static', filename='images/project2.jpg') }}" class="img-fluid" alt="Проект 2">
        <p>Classic (Классический режим)
Основной режим игры, в котором два игрока сражаются один на один, используя колоды из 30 карт. Цель — уменьшить здоровье противника с 30 до 0 с помощью существ, заклинаний и оружия. Режим сочетает стратегию и удачу, с постоянным обновлением наборов карт.</p>
    </div>
  <div class="col-md-4 fade-in">
        <img src="{{ url_for('static', filename='images/project3.jpg') }}" class="img-fluid" alt="Проект 2">
        <p>Mercenaries (Наемники)
Тактическая RPG-игра внутри Hearthstone. Игрок собирает отряд из наемников (персонажей из вселенной Blizzard) и сражается в пошаговых боях. Можно играть как против AI, так и в PvP. Каждый наемник имеет уникальные способности, а бои требуют продуманной стратегии и прокачки персонажей.</p>
    </div>

</div>
{% endblock %}